@tailwind base;
@tailwind components;
@tailwind utilities;

:root { color-scheme: dark; }

/* React Split Gutter Styles */
.gutter {
    background-color: #27272a; /* zinc-800 */
    background-repeat: no-repeat;
    background-position: 50%;
    position: relative;
    z-index: 50;
    transition: background-color 0.2s ease;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/svg+xml;utf8,<svg stroke="%2352525b" fill="none" viewBox="0 0 8 24"><path d="M 3 2 L 3 22 M 5 2 L 5 22" stroke-width="1"/></svg>');
    cursor: col-resize;
    width: 8px;
}

.gutter.gutter-vertical {
    background-image: url('data:image/svg+xml;utf8,<svg stroke="%2352525b" fill="none" viewBox="0 0 24 8"><path d="M 2 3 L 22 3 M 2 5 L 22 5" stroke-width="1"/></svg>');
    cursor: row-resize;
    height: 8px;
}

.gutter:hover, .gutter:active {
    background-color: #0891b2; /* cyan-600 */
}

